.form
	padding 19px 120px 19px 110px

	@media (max-width: 1000px)
		padding 19px

	// inputs

	&__input
		display flex
		align-items flex-end
		flex-wrap wrap
		margin-bottom 9px

		@media (max-width: 768px)
			flex-direction column
			align-items flex-start

		&_date
			margin-top 34px
			.form__input-wrap
				width 220px
				flex-grow 0


	&__input-label
		margin 0 15px 3px 0
		font-size 22px
		font-weight 700
		color color-vine

	&__input-wrap
		flex-grow 1
		background url('../images/input-border.png') repeat-x
		background-position bottom

		@media (max-width: 768px)
			width 100%


	&__input-item
		position relative
		padding 0 16px
		width 100%
		height 53px
		font-family cour
		font-size 30px
		font-weight 400
		line-height 53px
		color color-grey-text
		background none
		border: none

		@media (max-width: 768px)
			flex-basis 100%

		@media (max-width: 480px)
			font-size 18px
			padding 0
			height 40px
			line-height 40px


	// radio


	&__radio
		margin-top 47px

	&__radio-descr
		margin 0 33px 5px 0
		display inline-block

		@media (max-width: 768px)
			display block
			margin-bottom 20px
			margin-right 0

	&__radio-descr-link
		text-decoration underline
		color color-link


	&__radio-label
		margin-right 17px
		font-size 22px
		font-weight 700
		cursor: pointer
		color color-vine


		&::before
			margin -3px 5px 0 0
			display inline-block
			size 28px
			vertical-align middle
			content ''
			background url('../images/radio.png')

		&_checked
			&::before
				background url('../images/radio-checked.png')

	&__radio-item
		display none

	// checkboxes

	&__checkboxes
		margin-top 44px


	&__checkboxes-note
		position relative
		margin 11px 0 0 19px
		font-size 14px
		font-weight 400
		line-height 22px
		color color-gey-checkbox

		&::before
			position absolute
			top 9px
			left -20px
			font-size 36px
			content '*'

	&__checkboxes-list
		margin  21px 0 0
		padding 0
		display flex
		list-style-type none
		flex-wrap wrap
		flex-direction column
		align-content space-between
		height 245px

		@media (max-width: 768px)
			height auto


	&__checkboxes-list-item
		margin-bottom 10px
		max-width 240px

	&__checkboxes-label
		position relative
		padding-left 28px
		display inline-block
		font-size 21px
		font-weight 700
		line-height 25px
		cursor: pointer
		color black

		&::before
			position absolute
			top -4px
			left 0px
			display inline-block
			size 24px 28px
			content ''
			background url('../images/checkbox.png') no-repeat bottom left

		&_checked

			&:before
				background url('../images/checkbox-checked.png') no-repeat

	&__checkboxes-label-item
		display none

	// slider

	&__slider
		margin-top 70px
		margin-left 12px

		@media (max-width: 1000px)
			display none

	&__slider-item
		position relative
		margin-top 44px
		display inline-block
		size 760px 27px
		background url('../images/slider.png') no-repeat

	&__slider-item-thumb
		position absolute
		top -17px
		left 526px
		display block
		size 17px 14px
		cursor pointer
		background url('../images/slider-thumb.png') no-repeat


	&__slider-label-wrap
		display block

	&__slider-label
		display inline-block
		max-width 170px
		font-size 13px
		font-weight 700
		line-height 19px
		vertical-align top
		color color-vine

		// don't judge me

		&:nth-child(1)
			margin-right 80px
		&:nth-child(2)
			margin-right 56px
		&:nth-child(3)
			margin-right 73px
		&:nth-child(4)
			margin-top 6px
