mixin form()
	+b.form&attributes(attributes)
		block


form.form#form(action='#')
	//- defining mixin for input block
	mixin inputs(label, nameInput, placeInput)
		.form__input
			label.form__input-label(for=nameInput)= label
			.form__input-wrap
				input.form__input-item(id=nameInput name=nameInput value=placeInput)
				
	+inputs('Полное ФИО', 'name', 'Жданов Али Мохамед Али')
	+inputs('Год рождения', 'yearbirth', '1993')
	+inputs('Место жительства', 'location', 'Киев')
	+inputs('Скайп', 'skype', 'zhdanovali1')
	+inputs('Почта', 'email', 'zhdanov.alik@yandex.ua')
	
	.form__radio
		h3.form__radio-descr
			| Выпускник
			a.form__radio-descr-link(href='https://htmlacademy.ru/') htmlacademy.ru
		label.form__radio-label
			| Да
			input.form__radio-item(type='radio' name='graduated' value='yes')
			
		label.form__radio-label.form__radio-label_checked
			| Нет
			input.form__radio-item(type='radio' name='graduated' value='no' checked)
			
	.form__checkboxes
		h3.form__checkboxes-descr Практические навыки
		.form__checkboxes-note
			| Отемтьте только те технологии и типы задач, с которыми вы хорошо знакомы. Отсутсвие опыта отнюдь не означает, что у вас меньше шансов стать нашим сотрудником. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
		
		ul.form__checkboxes-list
			//- defining mixin for checkbox block
			mixin checkbox(label, velueInput, checked)
				li.form__checkboxes-list-item
					if checked
						label.form__checkboxes-label.form__checkboxes-label_checked=label
							input.form__checkboxes-label-item(type='checkbox' name='skills' value=velueInput)
					else
						label.form__checkboxes-label=label
							input.form__checkboxes-label-item(type='checkbox' name='skills' value=velueInput)
							
						
			+checkbox('Методология БЭМ', 'bem', true)
			+checkbox('JQuery', 'Jquery', true)
			+checkbox('Использую GULP', 'gulp', true)
			+checkbox('HAML', 'haml', false)
			+checkbox('SASS', 'sass', true)
			+checkbox('LESS', 'less', true)
			+checkbox('CoffeeScript', 'coffee', true)
			+checkbox('Jade', 'jade', true)
			+checkbox('Stylus', 'stylus', true)
			+checkbox('Знаю (изучаю) Angular', 'angular', false)
			+checkbox('Верстка под Android', 'android', true)
			+checkbox('Верстка под iOS', 'ios', true)
			+checkbox('Верстка под Windows Phone', 'windowsphone', false)
			+checkbox('Верстка рассылок', 'email', true)
			+checkbox('Адаптивная верстка', 'responsive', true)
			+checkbox('Использую Dropbox', 'dropbox', true)
			+checkbox('Использую Gmail', 'gmail', true)
			+checkbox('Использую GitHub', 'github', true)
				
	.form__slider
		h3.form__slider-descr Уровень владения Javascript
		.form__slider-item
			.form__slider-item-thumb
		.form__slider-label-wrap
			.form__slider-label Не владею
			.form__slider-label Использую готовые решения
			.form__slider-label Использую готовые решения и умею их переделывать
			.form__slider-label Пишу сложные скрипты
			
			
	.form__input.form__input_date
		label.form__input-label Дата заполнения
		.form__input-wrap.form__input-wrap_short
			input.form__input-item(name='date' value='04.08.2016')
