extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'Alik Zhdanov test task';
	

block content
	.page-wrap
		include /blocks/header/header.jade
		include /blocks/form/form.jade
