// define base styles
body
	font-family ptsans
	background color-grey-bg


h3
	margin 0
	font-size 22px
	font-weight 700
	color color-vine

.page-wrap
	margin 0 auto
	padding 47px 0 50px
	display block
	max-width 1000px
	background url('../images/bg.jpg')

// header

.header
	padding 0 57px 25px 42px
	display flex
	justify-content space-between
	flex-wrap wrap

	@media (max-width 768px)
		flex-direction column
		align-items center

	&__logo
		margin-top 13px
		display inline-block

	&__secret
		display inline-block
		width 252px
		height 106px
		background url('../images/top-secret.png') no-repeat

		@media (max-width 768px)
			margin-top 25px

	&__header
		margin 32px auto 0
		size 100% 118px
		background url('../images/top-head.png') no-repeat center
